# Django
*.sqlite3

__pycache__/
*.py[cod]
*$py.class


# Static collected files
staticfiles/


# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/


# VS Code
.vscode/


# Pyright
pyrightconfig.json